{% load static %}
<html>

<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="../../static/img/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>
    <header>
        <div class="page-header">
            <img src="../../static/img/favicon.ico" style="width: 7%;">
            <h1><a href="/">Blog</a></h1>
        </div>
    </header>

    {% for post in posts %}
    <div class="post">
        <h2><a href="">{{ post.title }}</a></h2>
        <h4>{{ post.text|linebreaksbr }}</h4>
        <p>published: {{ post.published_date }}</p>
        <br />
    </div>
    {% endfor %}

    <body>

</html>